:host {
  display: inline;
}

.header {
  display: flex;
}

.name {
  font-size: 1.2rem;
  font-weight: 500;
}

.description {
  font-size: 0.8rem;
}

.content {
  display: flex;
}

.photo {
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
}

.content-text {
  flex: 1;
  margin-left: 5px;
}

.content-text > div{
  margin-bottom: 5px;
}
